<head>
    <meta charset="utf-8" />
    <title>User Experience Books</title>
    <meta name="description" content="User Experience Library" />
    <meta name="author" content="Parham Baghestani" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/core.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v4.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />
</head>